* {
    margin: 0px;
    
}

form {
    margin-left: 15%;
    

}

section {
    padding-bottom: 5%;
    background-color:aqua;
    padding-top: 1%;
    width: 400px;
    margin-left: 35%;
    margin-right: 35%;
    border-style: solid;
    border-color: red;
    box-shadow: 5px 5px 20px 1px;
}



.contenedor {
    display: flex;
    justify-content: space-between;
}

main {
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 10%;
    align-items: center;
    background-color: #ebeef2;
}

footer {
    height: 50%;
    padding-top: 10px;
    padding-left: 1%;
    margin: 0px;
    background-color: rgb(153, 0, 255);
    text-align: center;
}
img {
    width: 300px;
    height: 300px;
}

 .nav-item {
    text-align: center;
 }
.imgnavbar {    
    height: 30px;
    width: 30px;
}

 .visually-hidden {
    color: black;
 }
