
 .nav-item-login {
    text-align: center;
    
 }
main {
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 10%;
    align-items: center;
    background: linear-gradient(90deg, rgb(194, 111, 111) 0%, rgb(0, 11, 110) 50%);
    
}

footer {
    color: #ebeef2;
    background-color: rgb(32, 74, 163);
    text-align: center;
    position: relative;
    width: 100%;
}
.imgnavbar {    
    height: 30px;
    width: 30px;
}
img {
    width: 700px ;
    height: 400px;
    
}

 .nav-item {
    text-align: center;
 }


section img {
    
    width: 700px !important;
    height: 400px !important;
}

 /* .carrusel {
    height: 400px;
    padding-top: 7%;
    width: 400px;
}  */
main section {
    color: #ebeef2;
}

